body { 
    font-family: sans-serif; 
    text-align: center; 
    padding: 10%; 
    background: #111; 
    color: #fff; 
}
h1 { 
    font-size: 4rem; 
    margin-bottom: 10px; 
    color: #00FF88; 
}
p { 
    font-size: 1.5rem; 
    font-style: italic; 
    color: #ccc; 
}
